:root {
  --cor-preto: #111111;
  --cor-branco: #f4f4f4;
  --cor-amarelo: #ffc900;
  --cor-laranja: #ff6600;
  --cor-vermelho: #ff0029;
  --cor-violeta: #b300d4;
  --cor-roxo: #4c00b9;
  --cor-cinzaMedio: #838383;
}

section {
  padding: 50px 10%;
  background: var(--cor-branco);
  color: var(--cor-preto);
}

.containerSobre {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Imagem */
.imagem {
  flex: 1;
  max-width: 400px;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
}

.imagem img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Texto */
.conteudo {
  flex: 1;
}

.titulo1 {
  font-size: 32px;
  color: var(--cor-preto);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding-left: 15px;
  margin-bottom: 15px;
  border-left: 5px solid var(--cor-vermelho);
}
.subTituloSobre {
  font-size: 1.2rem;
  margin: 0;
  color: var(--cor-cinzaMedio);
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
}

.texto {
  font-size: 0.9rem;
  margin: 0;
  color: var(--cor-cinzaMedio);
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
}

.iconesDescricao {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 15px;
}

.itemIcone {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.itemIcone i {
  font-size: 1.2rem;
  color: var(--cor-laranja);
  min-width: 30px;
  margin-top: 4px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.itemIcone i:hover {
  transform: scale(1.2);
  color: var(--cor-vermelho);
}

.itemIcone p {
  font-size: 0.9rem;
  color: var(--cor-cinzaMedio);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* Animação ao rolar */
.aparecer {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

@media (max-width: 768px) {
  .containerSobre {
    flex-direction: column;
    text-align: center;
  }

  .imagem {
    max-width: 100%;
  }

  .icones {
    justify-content: center;
  }
}
