body {
  background-color: var(--cor-branco);
  margin: 0;
  padding: 0;
}
.bannerContainerServico {
  width: 100vw;
  background-color: var(--cor-roxo);
}
.tituloBanner {
  color: var(--cor-branco);
  padding: 80px 0;
  text-align: center;
  font-size: 6rem;
  font-family: 'Bebas Neue', sans-serif;
}
.esteira {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.esteira h2.tituloBanner {
  display: inline-block;
  padding-left: 100%;
  animation: esteira 28s linear infinite;
}

@keyframes esteira {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.containerServicos {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  margin-top: 230px;
}

.galeria-wrapper .Titulo {
  flex: 1;
  text-align: left;
  margin-bottom: 30px;
}

.galeria-wrapper .Titulo h2 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border-left: 5px solid var(--cor-laranja);
  padding-left: 15px;
}
.galeria-wrapper .subTitulo {
  font-size: 1.2rem;
  margin: 0;
  color: var(--cor-cinzaMedio);
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
}
.galeria-wrapper .descricaoServico {
  font-size: 0.9rem;
  margin: 0;
  color: var(--cor-cinzaMedio);
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
}

/* Galeria de vídeos */
.galeria-wrapper {
  margin: 0 auto;
  width: 100%;
}

.galeriaTrabalho {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.video-container {
  aspect-ratio: 1 / 2;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.4s ease, border 0.4s ease;
  position: relative;
  border: 3px solid transparent;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

/* Overlay e video expandido */
.video-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.video-expanded {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.video-expanded video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
