body {
  margin: 0;
  padding: 0;
}

.sessaoComFaixa {
  min-height: 60vh;
  box-sizing: border-box;
  transition: all 0.3s ease;
  position: relative;
}

.entreEmContato {
  max-width: 600px;
  margin: 2rem auto;
  background-color: var(--cor-branco);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.contatoTitulo {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  color: var(--cor-preto);
}

.formularioContato {
  display: flex;
  flex-direction: column;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: none;
  padding: 0;
  margin: 15px 0;
}

.input[type='checkbox'] {
  margin: 0;
  appearance: auto; /* Garante aparência padrão e evita bugs de alinhamento */
}

fieldset label {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
}
.input-com-placeholder::placeholder {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  color: var(--cor-cinzaBaixo);
}

legend {
  color: var(--cor-preto);
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 8px;
}

fieldset > div {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.inputIconWrapper {
  position: relative;
  margin-bottom: 10px;
}

.inputIconWrapper .icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--cor-roxo);
  font-size: 16px;
  pointer-events: none;
}

.inputIconWrapper input {
  width: 100%;
  padding: 12px 12px 12px 36px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #fff;
}

textarea {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  resize: vertical;
  box-sizing: border-box;
}

.inputIconWrapper input:focus,
textarea:focus {
  border-color: var(--cor-roxo);
  outline: none;
  box-shadow: 0 0 0 2px rgba(76, 0, 185, 0.2);
}

button {
  margin-top: 20px;
  padding: 12px;
  background-color: var(--cor-roxo);
  color: var(--cor-branco);
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formularioContato button:hover {
  background-color: #574fd6;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

body.acessibilidade-ativa html {
  scroll-padding-top: 220px;
}
