* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.topo {
  position: relative;
  width: 100%;
  padding: 20px 0;
}

.logo-container {
  text-align: center;
}

.logo {
  max-width: 200px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.fraseInicio {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-left: 150px;
  margin-top: 320px;
}

.fraseInicio h1 {
  font-size: 3rem;

  color: var(--cor-preto);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.fraseInicio span {
  color: var(--cor-vermelho);
}

.fraseInicio1 {
  display: flex;
  flex-direction: row;
  justify-items: start;
  margin-left: 250px;
}

.fraseInicio1 h2 {
  font-size: 3rem;
  color: var(--cor-preto);
  font-family: 'Montserrat', sans-serif;
  font-variant: small-caps;
  font-weight: 400;
  white-space: nowrap;
}

.botaoSaibaMais {
  position: absolute;
  right: 300px;
  margin-top: 200px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--cor-vermelho);
  color: var(--cor-branco);
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botaoSaibaMais:hover {
  background-color: #fa3c5b;
}

.galeriaApresentacao {
  display: flex;
  justify-content: center;
  gap: 16px;
  overflow-x: auto;
  height: auto;

  position: relative;
  padding: 16px 40px;
  max-width: 100vw;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge */
}

.galeriaApresentacao::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.galeriaApresentacao img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  border: 2px solid #ccc;
}
