* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body.menu-aberto {
  position: fixed;
  width: 100%;
  overflow-y: scroll; /* fica scrollbar */
}

.menu-btn,
.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px;
  font-size: 1.5rem;
  color: var(--cor-laranja);
}

/* Ícone  */
.menu-btn {
  position: relative;
  z-index: 1;
}

.bi-list {
  font-size: 2rem !important;
  color: var(--cor-laranja) !important;
  display: inline-block !important;
}

/* lateral */
.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  max-width: 300px;
  height: 100vh;
  background: var(--cor-branco);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-out;
  z-index: 1000;
}

.menu.open {
  left: 0;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}
.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  padding: 15px;
  text-align: center;
}

.menu ul li a {
  color: var(--cor-preto);
  text-decoration: none;
  font-size: 1rem;
  display: block;
  transition: background 0.3s;
}

.menu ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.linha-topo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(
    to right,
    var(--cor-amarelo),
    var(--cor-laranja),
    var(--cor-vermelho),
    var(--cor-violeta),
    var(--cor-roxo)
  );
  z-index: 9999;
}
