:root {
  --cor-preto: #111111;
  --cor-branco: #f4f4f4;
  --cor-amarelo: #ffc900;
  --cor-laranja: #ff6600;
  --cor-vermelho: #ff0029;
  --cor-violeta: #b300d4;
  --cor-roxo: #4c00b9;
  --cor-vermelhoMedio: #ca102f;
  --cor-cinza: #e6e6e6;
  --cor-cinzaBaixo: #e2e2e2;
}
