.scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 0%;
  background: linear-gradient(
    to right,
    #ffc900,
    #ff6600,
    #ff0029,
    #b300d4,
    #4c00b9
  );
  z-index: 9999;
  transition: width 0.1s ease-out;
}

/* Estiliza a barra */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(
    to bottom,
    #f4f4f4,
    #ffc900,
    #ff6600,
    #ff0029,
    #b300d4,
    #4c00b9
  );
}

/* barra (fundo) */
::-webkit-scrollbar-track {
  background: #f4f4f400;
}

/* Parte que se move (o "thumb") */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #4c00b9, #ff0029, #b300d4);
  border-radius: 10px;
  border: 1px solid #05050500; /* borda opcional p/ separação */
}
