/* iPad Air - 820px de largura */
@media (max-width: 900px) and (min-width: 769px) {
  .fraseInicio {
    margin-left: 40px;
    margin-top: 150px;
    align-items: flex-start;
    text-align: left;
  }

  .fraseInicio h1 {
    font-size: 2.4rem;
    line-height: 1;
  }

  .fraseInicio1 {
    margin-left: 40px;
  }

  .fraseInicio1 h2 {
    font-size: 2rem;
  }

  .botaoSaibaMais {
    right: 60px;
    margin-top: 100px;
    font-size: 1rem;
    padding: 10px 16px;
  }

  .galeriaApresentacao {
    padding-left: 40px;
    padding-right: 40px;
    gap: 12px;
  }
}

/******* notebook *******/

@media (max-width: 1024px) {
  .fraseInicio {
    margin-left: 40px;
    margin-top: 200px;
  }

  .fraseInicio h1 {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  .fraseInicio1 {
    margin-left: 40px;
  }

  .fraseInicio1 h2 {
    font-size: 2.2rem;
    line-height: 1.1;
  }

  .botaoSaibaMais {
    right: 100px;
  }

  .galeriaApresentacao {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/************************** mobile: até 768px */

@media (max-width: 768px) {
  .fraseInicio {
    margin-left: 0;
    margin-top: 40px;
    align-items: center;
    text-align: center;
  }

  .fraseInicio h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .fraseInicio1 {
    flex-direction: column;
    margin-left: 0;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .fraseInicio1 h2 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .galeriaApresentacao {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    justify-content: center;
  }

  .botaoSaibaMais {
    position: static;
    margin: 40px auto 0 auto;
    display: block;
    transform: none;
  }
}
